* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #10083b;
    font-family: monospace;
    /* font-weight: bold; */
}
h1{
    color: pink;
    font-size:50px;
    text-align: center;
    margin-top: 50px;
}
#calculator {
    width: 340px; 
    max-width: 95vw; 
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: rgb(71, 83, 86);
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(108, 94, 94, 0.15);
    outline: solid 0.01px gold;
}


#display {
    height: 120px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #777;
    text-align: right;
    background-color: rgb(157, 225, 196);
    color: #333;
    border-radius: 13px;
    border:none;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    outline: solid 2px black;
    touch-action: manipulation;
}

/* all btn wrapper */
#btnContainer {
    display: flex;
    gap: 10px;
}

#btnContainer button {
    font-size: clamp(21px, 2.1vw, 24px);
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}
#numberContainer button,#bottomRow button,#rightContainer button{
    border-radius: 10px;
}

#topRow button{
    border-radius: 28px;
}


/* left side */

#leftContainer {
    display: flex;
    flex-direction: column;
    flex: 4;
    gap: 10px;
}

#topRow {
    display: flex;
    gap:10px;
}

#topRow button {
    flex: 1;
    height: 60px;
}

#numberContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#numberContainer button {
    flex: 1 0 30%;
    height: 60px;
    font-size: 18px;
}

#bottomRow {
    display: flex;
    gap: 10px;
}

#bottomRow button {
    flex: 1;
    height: 60px;
}


/* right side  */

#rightContainer {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-direction: column;
}

.operator, 
#equalBtn {
    flex: 1;
}

/* Misc */

button {
    border: solid 1px black;
    font-size: 40px;
    font-weight: bold;
    font-family: inherit;
    font-family: monospace;
}

button:hover {
    background-color: #f6ff92;
    border: solid 2px black;
    font-weight: 500;
}

button:active{
    transform: scale(0.95);
}

.operator {
    background-color: #5be4ff;
}

#equalBtn {
    flex: 1.27;
}

#delBtn, 
#clearBtn{
    background-color: #f96538;
    border-radius:30px;
}

#equalBtn{
    background-color: rgb(122, 216, 115);
}

#clearBtn:hover,
#delBtn:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(253, 66, 66, 0.523),
                0 0 20px rgba(255, 0, 0, 0.4);
    transition: all 0.25s ease;
}

#equalBtn:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0 0 7px rgba(43, 255, 43, 0.575),
                0 0 13px rgba(93, 255, 93, 0.733);
    transition: all 0.25s ease;
}
.operator:hover{
    cursor: pointer;
    box-shadow: 0 0 7px rgba(72, 196, 194, 0.575),
                0 0 13px rgba(93, 255, 93, 0.733);
    transition: all 0.25s ease;
}

/* #clearBtn {
    font-size: 18px !important;
} */

.footer {
	width: 100%;
	padding: 30px 5px;
	text-align: center;
}

.footer__text {
	color:rgb(255, 183, 195);
	font-size: 1.2rem;
}

.footer__text a {
	text-decoration: none;
	color: rgb(192, 166, 98);
	font-weight: 600;
}